@import "../../../../styles/colors.module.scss";

.Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}
.itens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img{
    width: 300px;
}
.title{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 14px;
}
.description{
    text-align: center;
    color: $lightGray;
}

@media (max-width:1284px){
    .img{
        width: 100%;
    }
}
@media (max-width:767px){
    .Container{
        flex-wrap: wrap;
    }
    .img{
        width: 100%;
    }
}