.sectionBackground{
  background-image: linear-gradient(to bottom, rgba(140, 140, 140, 0.102), #151515), url("../public/homeNoAuth/wallpaper.jpg");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

@media(max-width:828px){
  .sectionBackground{
    background-position: right center;
  }
}
@media(max-width:534px){
  .sectionBackground{
    background-image: linear-gradient(to bottom, #151515, #151515);
  }
}