@import "./colors.module.scss";

.header{
    background-color: black;
}
.form {
  border: 1px solid $darkGray;
  padding: 20px 0px;
  max-width: 100%;
  border-radius: 4px;
}
.formName {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 80%;
  margin: 20px auto;
  text-transform: uppercase;
  justify-content: center;
}
.nameAbbreviation{
    font-size: 40px;
    font-weight: bold;
    min-height: 70px;
    min-width: 70px;
    background-color: white;
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userName{
    font-size: 30px;
    font-weight: bold;
}
.memberTime{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.icon {
  color: $lightRed;
  font-size: 20px;
}
.memberText{
    font-size: 14px;
    color: $lightGray;
}
.label{
    font-size: 14px;
    font-weight: bold;
}
.inputFlexDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.inputFlex{
    width: 250px;
    background-color: transparent;
    border: 1px solid $darkGray;
    color: white;
    text-transform: uppercase;
    &::placeholder{
        color: $lightGray;
    }
    &:focus{
        box-shadow: none;
        border-color: $lightRed;
        background-color: transparent;
        color: white;
    }
}

.inputNormalDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.input{
    @extend .inputFlex;
    text-transform: lowercase ;
    width: 550px;
}
.formBtn{
    border-color: $lightRed;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 15px;
    padding: 6px 20px;
    &:hover{
        border-color: $darkRed;
        background-color: transparent;
        color: $lightGray;
    }
}
.title{
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 50px;
}
.renderForm{
    display: block;
    width: 200px;
    border: 1px solid $darkGray;
    background-color: transparent;
    font-weight: bold;
    margin: 0 auto;
    padding: 14px 0;
    &:hover{
        background-color: transparent;
        border-color: $lightRed;
        color: $lightGray;
    }
}

.footer{
    background-color: black;
}

@media (max-width:991px){
    .title{
        text-align: center;
    }
    .btnColumn{
        width: 100%;
        margin-bottom: 40px;
    }
}
@media (max-width:767px){
    .inputFlexDiv{
        gap: 15px;
    }
    .nameAbbreviation{
        font-size: 30px;
        min-height: 60px;
        min-width: 60px;
    }
    .userName{
        font-size: 25px;
        text-align: center;
    }
    .inputFlex{
        width: 400px;
    }
}
@media (max-width:460px){
    .title{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .nameAbbreviation{
        font-size: 30px;
        min-height: 60px;
        min-width: 60px;
    }
    .userName{
        font-size: 20px;
        text-align: center;
    }
    .inputFlex{
        width: 100%;
    }
}