.main{
    display: flex;
    flex-direction: column;
}
.searchResult{
    flex: 1 0 auto;
}
.noSearchTetx{
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.headerFooterBg{
    background-color: black;
}